*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 40px;
    height: 40px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.section-wrapper{
    padding: 30px;
}

.navbar li{
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.navbar li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: all 0.5s ease-out;
}
.navbar li a:hover{
    color:#FF7600;
    transform: scale(1.1);
}

.navbar li::after{
    content: "";
    width: 1px;
    height: 20px;
    background-color: #000000;
    margin-left: 25px;
}

.navbar li:last-child::after{
    display: none;
}

.contact-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 40px auto;
    padding: 20px;
}
.contact-box h2{
    color: #000000;
    margin-bottom: 60px;
    letter-spacing: 5px;
}

.contact-box li{
    list-style: none;
    margin-top: 15px;
    font-size: 18px;
}
.contact-box li a{
    color: #000000;
}

.contact-box li:nth-child(5){
    margin-top: 50px;
}

.conteiner-icons{
    margin-top: 50px;
}

.social-icons{
    margin-top: 25px;
}

.social-icons a{
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
}

.user-account h2{
    margin-bottom: 60px;
    letter-spacing: 5px;
}

.personal-information input{
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #00000029;
    padding: 10px 0;
    outline: none;
    width: 300px;
}

::placeholder{
    color:#959595;
}

.personal-information textarea{
    outline: none;
    color: #959595;
    font-size: 18px;
    width: 300px;
    resize: none;
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #00000029;
}

.button img{
    width: 20px;
    height: 20px;
    color: #fff;
}

.button{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 140px;
    height: 50px;
    margin-top: 40px;
    align-items: center;
    border-radius: 5px;
    background-color: #FF7600;
    color: #000000;
    cursor: pointer;
}

@media (max-width: 1024px){
    .contact-section{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    nav  {
        display: none;
    }
    .user-account{
        margin-top: 30px;
    }
    .personal-information input{
        width: 100%;
    }
    .personal-information textarea{
        width: 100%;
    }
}
